


body{
    /* margin: 0; */
    padding: 0;
    background-color: #1a2027;
    font-family: 'Barlow', sans-serif;
    color: #ffff;
}
span{
    color: #5ccb5f;
}

/* header class start */
.container{
    width: 90%;
    margin: auto;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-menu ul{
    display: grid;
    grid-template-columns: repeat(6, 0.2fr);
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding-left: 0;
    padding: 20px 0;
}
.header-menu ul li a{
    padding: 10px ;
    border: 1px solid #5ccb5f;
    text-decoration: none;
    color: #ffff;
}
.header-menu ul li a:hover{
    background-color: #5ccb5f;
    transition: all ease 0.7s ;
}
.let a{
    padding: 15px ;
    background-color: #5ccb5f;
    color: #ffff;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #5ccb5f;
}
.let a:hover{
    background-color: #232a31;
    transition: all ease 0.7s ;
}
/* header class end */
/* hero section start */
.hero-content {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-content h3{
    margin-bottom: 0;
    color: #ffff;
    font-weight: 500;
    margin-top: 0;
    font-family: sans-serif;
}
.im{
    color: #5ccb5f;
}
.hero-content h1{
    color: #5ccb5f;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}
.hero-content p{
    color: #ffff;
    font-family: serif;
    font-weight: 200;
    margin-bottom: 60px;
}
.hero-text{
    padding-top: 50px;
}
.btn{
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
}
.btn a{
    text-decoration: none;
    color: #ffff;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 6px;
}
.btn1 a{
    background-color: #5ccb5f;
}
.btn1 a:hover{
    border: 1px solid #5ccb5f;
    background-color: #232a31;
    transition: all ease 0.7s ;
}
.btn2 a{
    border: 1px solid #5ccb5f;

}
.btn2 a:hover{
    background-color: #5ccb5f;
    transition: all ease 0.7s ;
}
.check-out{
    padding-top: 300px;
}
.check-out ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}
.check-out ul li h2{
    width: 135px;
    color: #ffff;
}
.check-out img{
    width: 55px;
    padding: 0 8px;
}
.images {
    justify-self: right;
    align-items: right;
}
.images img{
    width: 400px;
    height: auto;
}
/* hero section end */

/* about section start */
.about{
    background-color: #232a31;
}
.about-top{
    text-align: center;
}
.about-top h1{
    margin-bottom: 0;
    font-size: 60px;
    color: #ffff;
}
.me{
    color: #5ccb5f;
}
.about-top p{
    margin-top: 0;
    color: #ffff;
    padding-bottom: 40px;
}
.main-about{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}
.about-content-left{
    color: #ffff;
}
.next-project{
    color: #5ccb5f;
}
.cv-btn{
    padding-top: 40px;
}
.cv-btn a{
    padding: 10px 30px;
    text-decoration: none;
    color: #ffff;
    border-radius: 6px;
}
.about-content-center{
    border: 1px solid #5ccb5f;
    border-radius: 40px;
}
.about-content-right{
    margin-left: 20px;
    color: #ffff;
}
.about-content-right span{
    color: #5ccb5f;
}
.behance{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.behance-text1 h4{
    margin-bottom: 0;
    margin-top: 0;
}
.behance-text1 h5{
    margin-bottom: 0;
    margin-top: 0;
}
.behance-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.behance-text1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.behance-text2 p{
    margin-bottom: 8px;
    margin-top: 5px;
    margin-top: -7px;
}
.behance-text1 .box2 {
    color: #5ccb5f;
    font-family: sans-serif;
}
.behance-text1 .box2{
    justify-self: right;
}
/* about section end */
/* section-box start */
.box-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0;
    grid-gap: 25px;
}
.box-content .box1{
    background-color: #5ccb5f;
    border-radius: 15px;
    border: 2px solid #5ccb5f;
    text-align: center;
    color: #ffff;
}
.box-content .box1 h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.box-content .box2{
    border: 2px dashed #ffff;
    text-align: center;
    color: #ffff;
    border-radius: 15px;
    padding: 20px 0;
    background-color: #232a31;
}
.box-content .box2 h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.box-content .box2 p{
    margin-top: 5px;
}
/* section-box end */
/* section previous class start */
.previous{
    background-color: #232a31;
    padding: 30px 0;
}
.previous-content h1{
    font-size: 40px;
    margin-bottom: 0;
}
/* section previous class end */
/* section menu2 start */
.main-menu2{
    padding: 10px 0;
}
.main-menu2 ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
    justify-content: center;
}
.main-menu2 ul li{
    padding: 0 10px;
}
.main-menu2 ul li a{
    text-decoration: none;
    border: 1px solid #5ccb5f;
    padding: 5px 10px;
    color: #ffff;
}
.main-menu2 ul li a:hover{
    background-color: #5ccb5f;
    transition: all ease 0.5s;
}
/* section menu2 end */
/* previous-work section start */
.p-w-gellary{
    background-color: #232a31;
    padding: 50px 0;
}
.p-w-gellary-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 20px;
    margin: 20px 0;
}
.p-w-gellary-box1 img{
    width: 375px;
    margin-top: 5px;
}
.p-w-gellary-box1 {
    background-color: #5ccb5f;
}
.p-w-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;
}
.p-w-btn .btn1{
    justify-self: left;
    margin-left: 20px;
}
.p-w-btn .btn1 a{
    padding: 4px 10px;
    background-color: #ffff;
    color: #1a2027;
    text-decoration: none;
    border-radius: 3px;
}
/* previous-work section end */
/* section service class start */
.service{
    background-color: #1a2027;
}
/* section service class end */
/* section service provide gellary start */
.service-provide-gellary{
    padding-bottom: 50px;
}
.s-p-g{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
}
.s-p-g .box1{
    border: 1px solid #5ccb5f;
    padding: 20px;
    border-radius: 10px;
}
.s-p-g .box1 h3{
    color: #5ccb5f;
    font-family: sans-serif;
}
/* section service provide gellary end */
/* section pricing start */
.pricing{
    background-color: #232a31;
    padding: 50px 0;
}
.pricing-article{
    text-align: center;
}
.pricing-article h3{
    margin-bottom: 0;
}
.pricing-article h2{
    margin-top: 0;
    margin-bottom: 0;
}
.pricing-article p{
    margin-top: 0;
}
.pricing-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}
.pricing-content .box1{
    border: 1px solid #5ccb5f;
    border-radius: 15px;
}
.box-price{
    text-align: center;
}
.box1 ul li{
    line-height: 30px;
}
.pricing-content .box2{
    background-color: #5ccb5f;
    border: 1px solid #ffff;
}
.pricing-content .box2 a{
    color: #232a31;
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 40px;
}
.box-price h3{
    margin-bottom: 0;
}
.box-price p{
    margin-top: 0;
    margin-bottom: 0;
}
.box-price h1{
    margin-top: 0;
    font-size: 40px;
}
.pricing-btn{
    text-align: center;
    padding: 25px 0;
}
.pricing-btn a{
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    border: 1px solid #5ccb5f;
    border-radius: 40px;
}
/* section pricing end */